<!DOCTYPE html>
<htm>
	<head>
		<meta charset="utf-8">
		<title>AngularJS</title>

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="style.css">

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body ng-app>

		<nav class="{{ ativo }}" ng-click="$event.preventDefault()">
			
			<!-- Quando um link no menu é clicado, nós definimos a variável ativa -->
			<a href="#" class="home" ng-click="ativo='Tipo de Linguagem e Estado Civil'">Qualitativa Nominal</a>
			<a href="#" class="projects" ng-click="ativo='Habilidade em Programar e Cargo na Empresa'">Qualitativa Ordinal</a>
			<a href="#" class="services" ng-click="ativo='qualquer coisa que falarem'">Quantitativa Discreta</a>
			<a href="#" class="contact" ng-click="ativo='oq falarem, to com preguiça de pensar'">Quantitativa Contínua</a>

		</nav>

		<p ng-hide="ativo">Por favor, click em um item do menu</p>
		<p ng-show="ativo">Sua Escolha <b>{{ ativo }}</b></p>
		<script src="angular.js"></script>

	</body>

</html>
