* {
	margin: 0;
	padding: 0;
}
body {
	font: 15px/1.3 'Open Sans', sans-serif;
	color: #5E5B64;
	text-align: center;
}

a, a:visited {
	outline: none;
	color: #389DC1;
}

a:hover {
	text-decoration: none;
}

section, footer, header, aside, nav {
	display: block;
}

nav {
	display: inline-block;
	margin: 60px auto 45px;
	background-color: #5597B4;
	box-shadow: 0 1px 1px #CCC;
	border-radius: 2px;
}

nav a {
	display: inline-block;
	padding: 18px 30px;
	color: #FFF !important;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none !important;
	line-height: 1;
	text-transform: uppercase;
	background-color: transparent;

	-webkit-webkit-transition: background-color 0.25s;
	-moz-webkit-transition: background-color 0.25s;
	-ms-webkit-transition: background-color 0.25s;
	-o-webkit-transition: background-color 0.25s;
	transition: background-color 0.25s;
}

nav a:first-child {
	border-radius: 2px 0 0 2px;
}

nav a:last-child {
	border-radius: 0 2px 2px 0;
}

nav.home .home,
nav.projects .projects,
nav.services .services,
nav.contact .contact {
	background-color: #E35885;
}

p {
	font-size: 22px;
	font-weight: bold;
	color: #7D9098;
}

p b {
	color: #FFF;
	display: inline-block;
	padding: 5px 10px;
	background-color: #C4D7E0;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 18px;
}




